<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block  add_style %} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">EduApp</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">ToDo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('calendar')}}">Календарь</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('lessons')}}">Уроки</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Тесты
                    </a>            
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('add_problem')}}">Добавить вопрос</a></li>
                      <li><a class="dropdown-item" href="{{url_for('category')}}">Категории</a></li>
                      <li><a class="dropdown-item" href="{{url_for('tasks')}}">Банк заданий</a></li>
                    </ul>
                  </li>
                  {% if not current_user.is_authenticated %}
                  <li><a class="nav-link" href="{{url_for('login')}}">Войти</a></li>
                  {% else %}
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{current_user.username}}
                    </a>            
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('account')}}">Профиль</a></li>
                      <li><a class="dropdown-item" href="{{url_for('logout')}}">Выйти</a></li>
                    </ul>
                  </li>
                  {% endif %}

                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Введите запрос" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Найти</button>
                </form>
              </div>
            </div>
          </nav>
          {% for cat, msg in get_flashed_messages(True) %}
          <div class="flash alert {{cat}}">
              {{msg}}
          </div>
          {% endfor %}  
        {% block content %} {% endblock %}
        <footer>
            Виктор Ларионов <br> 2024 г.
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
    {% block add_scripts %} {% endblock %}
  </body>
</html>