{% extends 'base.html' %}
{% block title %}
Авторизация
{% endblock %}

{% block content %}
<div class="col-md-6">
        <form class="px-4 py-3" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" placeholder="User name" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Подтверждение</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <div class="dropdown-divider"></div>
</div>       
 
{% endblock %}